*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   background-color: cornsilk;

}

/* Container */
.container{
    display: flex;
    height: 500px;
    background-color: black;
    width: 800px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 25px 25px 40px black;

}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color:#d3ad82;

}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box{
    padding: 12px;
    width: 65%;
    margin: 8px;
    border: 1px solid black;
    outline:none;
    border-radius: 20px;
}
.form button{
    padding:12px 30px;
    width:120px;
    margin-top: 25px;
    background-color: rgba(52, 45, 27, 0.263);
    color: azure;
    font-weight: bold;
    border:none;
    outline: none;
    border-radius: 20px;

}

.form button:hover{
    cursor: pointer;
    background-color: rgb(104, 84, 48);
    margin-top: 20px;
}
.form a{
    text-decoration: none;
    color:rgb(21, 20, 20);
    margin-top: 20px;
}
.form a:hover{
    color:rgb(226, 43, 11);
}


/*right side*/
.side{
    padding-top: 100px;
    padding-left: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d3ad7f;


}
.side p{
    font-size: 20px;
    color: #ccc;
    padding-left: 10px;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link {
    color: rgb(3, 3, 3);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(246, 246, 246);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 186, 247);
    background-color: transparent;
    text-decoration: underline;}
.submit{
    position:absolute;
width:322px;
height:50px;
left:760px;
top:450px;
background:#d3ad82;
border-radius:2px;
font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
font-style:normal;
font-weight:700;
font-size:18px;
line-height:22px;
display:flex;
align-items:center;
letter-spacing:.01em;
color:rgb(0, 0, 0);
justify-content:center;

}